#div1 {
    position: relative;
    background-color: green;
    width: 400px;
    height: 400px;
    z-index: 100;
    top: 40px;
    left: 40px;
}


#div2 {
    background-color: red;
    width: 400px;
    height: 400px;
    position: absolute;
    top: 0px;
    z-index: 120;

}